*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    background-color: rgb(192, 192, 230);
    margin-bottom: 10px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container ul{
    padding: 1px 80px;
    align-items: center;
    width: 100%;
    display: flex;
    list-style: none;
}
header .container ul li{
    justify-content: center;
    text-align: center;
    align-items: center;
}
header img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 40px;
}
a{
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 25px;
}
@media screen and (min-width: 900px){
    header .container .mobile{
        display: none;
    }
    header{
        background-color: rgb(140, 167, 190);
        justify-content: center;
        margin-right: none;
    }
    
}
@media screen and (max-width: 900px){
    header .container .mobile{
        display: block;
        color: black;
    }
    header{
        width: 100%;
        background-color: rgb(140, 169, 196);
        color: white;
    }
    header .container ul{
        display: none;
        margin-right: none;
        padding-right: none;
    }
    .container .logo img{
        margin-top: 5px;
        width: 35px;
        height: 35px;
    }
    #hero{
        position: relative;
    }
    .dna{
        width: 100%;
        position: absolute;
        right: 123%;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 520px;
        height: 520px;
    }
   
    #hero .dna h1{
        font-size: 1.2rem;
        text-align: center;
    }
    #hero .bag{
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
     #hero form{
        position: absolute;
        right: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 510px;
        height: 510px;
    }
    form .submit{
        width: 40%;
        margin-left: 63px;
        padding: 10px 13px;
        border-radius: 7px;
        border: none;
        background-color: rgb(255, 103, 47);
        color: aliceblue;
    }
    input{
        width: 100%;
        margin-bottom: 5px;
        outline: none;
        background-color: rgb(207, 231, 252);
        padding: 10px 13px;
        border-radius: 7px;}

        marquee{
            width: 100%;
            border-radius: 7px;
        }

}
section{
    width: 100%;
    align-items: center;
    justify-content: center;
}
 .dna{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 438px;

    padding: 20px;
}
.dna h1{
    font-size: 2.5rem;
    padding-bottom: 20px;
}
.dna form{
    width: 60%;
    background-color: bisque;
    padding: 30px;
    align-items: center;
    border-radius: 20px;
    border: none;
}

.bag img{
    width: 100%;
    padding: 20px;
    opacity: 0.7;
    padding-bottom: 20px;
}
input{
    width: 100%;
    margin-bottom: 5px;
    outline: none;
    background-color: rgb(207, 231, 252);
    padding: 10px 13px;
    border-radius: 7px;
}
.submit{
    margin-top: 10px;
    width: 50%;
    margin-bottom: 5px;
    outline: none;
    background-color: rgb(224, 39, 33);
    padding: 10px 13px;
    border-radius: 7px;
    border: none;
    margin-left: 150px;
}

